#admin{
  .admin_container{
    height: 100%;
    margin-top: 60px;
    .container{
      margin-top: 90px;
      padding-top: 100px;
      .btn_location{
        margin-top: 40px;
      }
    }
  }
}
